.btn {
  &:focus,
  &:active {
    outline: none;
  }
  &--search {
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-outlined {
    min-width: 160px;
    background-color: transparent;
    border: 1px solid $gray-600;
    color: $gray-900;
  }
}
