// Spacing
$defaultSpacer: $spacer / 2;
$spacers: (
  0: 0,
  1: $defaultSpacer,
  2: $defaultSpacer * 2,
  3: $defaultSpacer * 3,
  4: $defaultSpacer * 4,
  5: $defaultSpacer * 5,
  6: $defaultSpacer * 6,
  7: $defaultSpacer * 7,
  8: $defaultSpacer * 8,
  9: $defaultSpacer * 9,
  10: $defaultSpacer * 10,
  11: $defaultSpacer * 11,
  12: $defaultSpacer * 12,
  13: $defaultSpacer * 13,
  14: $defaultSpacer * 14,
  15: $defaultSpacer * 15,
  16: $defaultSpacer * 16,
  17: $defaultSpacer * 17,
  18: $defaultSpacer * 18,
  19: $defaultSpacer * 19,
  20: $defaultSpacer * 20,
);

// animation
$default-transition: 0.6s;

// font
$font-weight-demi: 600;

$h1-font-size: $font-size-base * 2.125;
$h1-font-size-desktop: $font-size-base * 3;
$h2-font-size: $font-size-base * 1.5;
$h2-font-size-desktop: $font-size-base * 2.125;
$h3-font-size: $font-size-base * 1.25;
$h3-font-size-desktop: $font-size-base * 1.5;

// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;
